* text=auto
* eol=lf

.git				export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
tests               export-ignore
phpunit.xml         export-ignore
makefile            export-ignore
config.example.php  export-ignore
LICENSE             export-ignore



